.hexagon {
  position: relative;
  width: 50px;
  height: 28.87px;
  background-color: $mainDarkColor;
  margin: 14.43px 0;
  align-self: center;
  margin-bottom: 2em;
  cursor: pointer;
}


.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid $mainDarkColor;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid $mainDarkColor;
}

.hexagon>i{
  position: absolute;
  color: white;
  left: 19px;
  top: 7px;
}

.btn-addQuestion{
  padding: 5px 10px;
  background-color: $mainDarkColor;
  margin-bottom: 10px;
  align-self: flex-end;
  width: 180px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease;
  i{
    color: green;
    display: inline-block;
  }
  p{
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
    display: inline-block;
    width: 150px;
  }
  &:hover{
    background-color: darken($mainDarkColor, 10%);
  }
}

.btn-viewJson{
  i{
    color: #2c2d2c;
    font-weight: bold;
  }
}

.alert{
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  min-height: 64px;
  padding: 1em;
  display: flex;
  flex-flow: column wrap;

  &.error{
    background-color: $redColor;
  }

  &.success{
    background-color: $greenColor;
  }

  a{
    align-self: flex-end;
    color: black;
    font-weight: bold;
  }
}
