.hexagon {
  position: relative;
  width: 50px;
  height: 28.87px;
  background-color: $mainDarkColor;
  margin: 14.43px 0;
  align-self: center;
  margin-bottom: 2em;
  cursor: pointer;
}


.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid $mainDarkColor;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid $mainDarkColor;
}

.hexagon>i{
  position: absolute;
  color: white;
  left: 19px;
  top: 7px;
}

.btn-addQuestion{
  padding: 5px 10px;
  background-color: $mainDarkColor;
  margin-bottom: 10px;
  align-self: flex-end;
  width: 180px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s ease;
  i{
    color: green;
    display: inline-block;
  }
  p{
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
    display: inline-block;
    width: 150px;
  }
  &:hover{
    background-color: darken($mainDarkColor, 10%);
  }
}

.btn-viewJson{
  i{
    color: #2c2d2c;
    font-weight: bold;
  }
}

.alert{
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  min-height: 64px;
  padding: 1em;
  display: flex;
  flex-flow: column wrap;

  &.error{
    background-color: $redColor;
  }

  &.success{
    background-color: $greenColor;
  }

  a{
    align-self: flex-end;
    color: black;
    font-weight: bold;
  }
}

#bowlG{
	position:relative;
	width:21px;
	height:21px;
	margin:auto;
}

#bowl_ringG{
	position:absolute;
	width:21px;
	height:21px;
	border:2px solid rgb(0,0,0);
	border-radius:21px;
		-o-border-radius:21px;
		-ms-border-radius:21px;
		-webkit-border-radius:21px;
		-moz-border-radius:21px;
}

.ball_holderG{
	position:absolute;
	width:6px;
	height:21px;
	left:8px;
	top:0px;
	animation-name:ball_moveG;
		-o-animation-name:ball_moveG;
		-ms-animation-name:ball_moveG;
		-webkit-animation-name:ball_moveG;
		-moz-animation-name:ball_moveG;
	animation-duration:0.975s;
		-o-animation-duration:0.975s;
		-ms-animation-duration:0.975s;
		-webkit-animation-duration:0.975s;
		-moz-animation-duration:0.975s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
}

.ballG{
	position:absolute;
	left:0px;
	top:-5px;
	width:8px;
	height:8px;
	background:rgb(0,0,0);
	border-radius:7px;
		-o-border-radius:7px;
		-ms-border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
}



@keyframes ball_moveG{
	0%{
		transform:rotate(0deg)
	}

	100%{
		transform:rotate(360deg)
	}
}

@-o-keyframes ball_moveG{
	0%{
		-o-transform:rotate(0deg)
	}

	100%{
		-o-transform:rotate(360deg)
	}
}

@-ms-keyframes ball_moveG{
	0%{
		-ms-transform:rotate(0deg)
	}

	100%{
		-ms-transform:rotate(360deg)
	}
}

@-webkit-keyframes ball_moveG{
	0%{
		-webkit-transform:rotate(0deg)
	}

	100%{
		-webkit-transform:rotate(360deg)
	}
}

@-moz-keyframes ball_moveG{
	0%{
		-moz-transform:rotate(0deg)
	}

	100%{
		-moz-transform:rotate(360deg)
	}
}
