$mainColor: #2196F3;
$mainDarkColor: #01579B;
$pinkColor: #E91E63;
$redColor: #F44336;
$greenColor: #8BC34A;

$tooltipValidBack:#F1F8E9;
$tooltipValidBorder: #8BC34A;
$tooltipErrorBack: #FFEBEE;
$tooltipErrorBorder: #F44336;
