@import '__variables.scss';

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
}

.container {
    min-width: 980px;
}

.title {
    color: white;
    transition: all 0.25s ease;

    &:hover {
        color: darken(white, 15%);
    }
}

.hidden{
  display: none;
}

a {
    text-decoration: none;
}
@import './__assets.scss';
@import './partials/__header.scss';
@import './partials/__quizForm.scss';
@import './partials/__footer.scss';
@import './partials/__table.scss';
@import './partials/__check.scss';
