.footer {
    background-color: #424242;
    width: 110%; //A saber por que con el 100% no cubre todo
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 16px;
    &>a {
        color: white;
        margin: 0 auto;
        text-decoration: none;
        font-size: 2em;
        text-align: center;
    }
}
